# build output
dist/
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment
.env
.env.production
.env.local

# editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
